@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;1,400&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    scroll-behavior:smooth;
    
  }
  .hamburger-box {
    position: fixed;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #111;
    margin-top: 0px;
    margin-left: 0px;
    transition: margin-left .5s;
    z-index: inherit;
    
  }
  .hamburger-box:hover {
    background-color: #444;
    transform: scale(1.05)
  }
  
  .hidden {
    opacity: 0;
    display: none;
  }
  
  
  .bar {
    width: 70%;
    height: 11%;
    margin: 6%;
    border-radius: 3px;
    transition: background-color 0.7s ease, transform 0.5s ease;
    
   }
  
  .bar.a  {
    background-color: red;
  }
  
  .bar.b {
    background-color: orange;
  
  }
  
  .bar.c {
    background-color: yellow;
  }
  
  .bar.a.rotated-in {
    background-color:white;
    transform-origin: top left;
    transform: translateY(-7px) translateX(6px) rotate(45deg); 
    transition: background-color 0.5s ease, transform 0.5s ease;
  }
  
  
  .bar.c.rotated-out {
    background-color:white;
    transform-origin: bottom left;
    transform: translateY(7px) translateX(7px) rotate(-45deg);
    transition: background-color 0.5s ease, transform 0.5s ease;
  }
  
  
  
  .white {
    color: white;
    font-size: 150px; 
  }
  
  
  /* The side navigation menu */
  .sidebar {
    flex-direction: column;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 234, 0, 1);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 20px;
    font-size: x-large;
    text-decoration: none;
    font-family: Karla-Regular, sans-serif;
    
  }
  
  /* Links on mouse-over */
  .sidebar a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  .content {
    display: flex;
    flex-direction: column;
    align-items: center stretch;
    transition: margin-left .5s;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 30px;;
    /* height: 1000px; */
  }
  .container-wreck-header  {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 221, 0, 0.9);
    border: 1px solid black;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
    padding:20px;
    margin-top: 20px;
    /* margin-left:100px;
    margin-right: 100px; */
  }

  .Wreck {
    margin-right: 30px;
    gap: 8px;
  }

  .Racing {
    gap: 8px;
  }
  
  .flex-row {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
  
  
  .flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
  }

  .margin-top {
    margin-top: 40px;
  }
  
  .flex {
    display: flex;
    flex-direction: column;
  }
  
  .flex-only {
    display: flex;
  
  }
  
  .background {
    /* background-image: linear-gradient(100deg,rgb(254, 237, 54), rgb(255, 20, 3)); */
    position: absolute;
    background-color: transparent;
  }

  .vid-container {
    z-index: -1;
    position: fixed;
    display: flex;
    flex-direction: row;
    opacity: 0.7; 
  }



  .background video { 
    width: 33vw;
    height: auto;
  }
  /* The button used to open the sidebar */
  
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  
  @font-face {
    font-family: 'SF Sports Night'; /* Choose a name for your custom font */
    src: url('font/sf/SFSportsNight.ttf') format('truetype'); /* Replace 'path/to/your/font-file.ttf' with the actual path to your TTF file */
  }
  
  @font-face {
    font-family: 'Karla-Regular';
    src: url('font/karla/Karla-Regular.ttf') format('truetype'),
         
  }

  @font-face {
    font-family: 'Karla-Bold';
    src: url('font/karla/Karla-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'SlugsRacer';
    src: url('font/slugs-racer/Slugs\ Racer.ttf') format('truetype'),
  }
  
  .header-text {
    font-family: 'SF Sports Night', sans-serif;
    font-size: 120px; 
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 3px yellow;
    gap: 5px;
    margin-bottom: 20px;
  }
  
  .enlarge-letter:hover {
    transition: transform 0.1s ease;
    transform: scale(1.08) translateY(-6px); /* Enlarge each letter on hover */
  }
  
  
  
  .buttons {
    gap: 50px;
    
  }
  
  .buttons a {
    width: 200px;
    height: 50px;
    background-color: rgb(255, 242, 0);
    color: black;
    font-size: 30px;
    font-family: Karla-Regular;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .buttons a:hover {
    background-color:  rgb(0, 0, 0);
    color: white;
    font-family: Karla-Bold;
    /* border: 1px solid white; */
    
  }
  

  /* ------------------------------home.html---------------------------------- */

  /* #home-page {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 95vh;
  } */

  .container-welcome  {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    /* border-radius: 7px;  */
    border-bottom-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding:30px;
    margin-top: 0px;
    /* margin-left:100px;
    margin-right: 100px; */
  }

  .container-holder-welcome {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
  }

  .container-child-welcome {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 20px;
    padding-bottom: 10px;
    /* text-align: center; */
    justify-content: center;
  }

  #width70 {
    width: 70%;
  }

  #width30 {
    width: 30%;
  }

  

  .photo-gallery {
    display: grid;
    /* max-width: 48%;
    height: 70%; */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;   
  }

  .photo-gallery img {
    /* position: relative; << this causes the images to overlay the sidebar when its expanded*/ 
    max-width: 100%;
    height: auto;
    grid-area: 1 /1;
    border-radius: 20px;
    padding: 15px;
  }

  

  #pic1 {
    visibility: visible;
  }

  #pic2 {
    visibility: hidden;
  }

  #pic3 {
    visibility: hidden;
  }

  #pic4 {
    visibility: hidden;
  }

  /* need to adjust thickness of arrow heads */
  .arrow-buttons {
    background-color: transparent;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 2px;
    z-index: 10;
    grid-area: 1/1;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally*/
    font-family: Karla-Regular;
    font-size: 25px;
    
  }

  .arrow-buttons:hover {
    background-color: rgba(255, 255, 255, 0.6);;
    color: black;
    
    
  }

  .right-button {
    justify-self: end;
    margin-right: 15px;
  }

  .left-button {
    justify-self: start;
    margin-left: 15px;
  }

  /* -------------------------------------welcome to wreck racing text-------------------- */
  .text-box {
    display: flex;
    flex-direction: column;
    align-items: center; 
    box-sizing: border-box;
    background-color: transparent;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
    
  }

  

  /* theres a difference between wrapping something in a div vs applying the effects directly to it */
  .typed-text {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 70px;
    margin-top: 10px; 
    color: black;
    margin-bottom: 10px;;
  }



  .text-box h2 {
    font-size: 40px;
    font-family: Karla-Regular, sans-serif;
    
  }

  .text-box p {
    font-size: 15px;
    font-family: Karla-Regular, sans-serif;
    margin-top: 7px;
    line-height: 1.4;
    margin-right: auto;
  }

  .text-box ul {
    font-family: Karla-Regular;
    font-size: 19px;
    margin-right: auto;
  }
  /*--------------------------------timeline---------------------------------------*/

  .timeline-container {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    align-items: center stretch;
    /* background-color: yellow; */
  }

  .vertical-line {
    
    width: 2px;
    height: 900px;
    background-color: #000000; /* Line color */
  }

  .timeline-items {
  
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .timeline-item {
    display: flex;
    flex-flow: row;
  }

  .timeline-dot {
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
  }

  .timeline-item-text {

  }

  


  /* -------------------------------------pantone cards for cars---------------------------- */
  .pantone-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 columns with equal width */
    grid-template-rows: repeat(3, 1fr);    /* 2 rows with equal height */
    gap: 30px;
  }
  .pantone {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 290px;
    width: 230px;
    background-color: white;
    color: black;
    padding: 7px;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'Helvetica Neue', sans-serif;
    border-radius: 2px;
    transition: transform 0.4s ease-in-out;
  }

  /* on hover, have a side box that pops up with the build book and some extra info/who built it etc */
  .pantone:hover {
    transform: scale(1.05);
  }

  .pantone .cropped-container {
    height: 70%;
    width: 100%;
    overflow: hidden;
  }
  .pantone .cropped-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .space  {
    margin-top: 70px;
  } 



  .pantone h1 {
    /* font-family: 'Helvetica Neue', sans-serif; */
    font-weight: 500;
    font-size: 20px;
    margin-right: auto;
  }

  .pantone h2 {
    /* font-family: 'Helvetica Neue', sans-serif; */
    font-size: 15px;
    font-weight: 400;
    margin-right: auto;
  }

  /* ------------------------------OUR MEMBERS DESCRIPTION-------------------------------- */
  .line-break {
    border: dashed; /* Remove the default border */
    border-width: 1px;
    width: 70%; /* Set the width to 50% of the container width */
    margin: 25px auto; /* Center the horizontal rule and add margin above and below */
    color: white;
  }

  .our-members {
    font-size: 55px;
    font-family: Karla-Bold, sans-serif;
    margin-top: 40px;
    color: black;

  }

  .center-align {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    text-align: center;
  }

  .container  {
    /* margin-left: 100px;
    margin-right: 100px; */
    background-color: rgba(255, 255, 255);
    border: 2px solid white;
    border-radius: 7px; 
    padding:20px;
   
    
  }

  .container p {
    font-size: 18px;
    font-family: Karla, sans-serif;
    font-style: italic;
    color: black;
    
  }

  #visit-us {
    
    margin:30px;
    
    
  }

  .container-holder  {
    position: relative;
    display: flex;
    flex-direction: row; 
    align-items: center stretch;
    justify-content: center;
    background-color: transparent;
    margin-top: 30px;

  }

  .container-child {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid #000;
    border-radius: 20px;
    padding-bottom: 10px;
    text-align: center;
    align-items: center;
    padding: 30px;
    background-color: white;
    
  }

  /* font specifications for p elemements */
  .container .container-child p {
    font-size: 18px;
    font-family: Karla-Regular;
    margin-top: 15px;
    font-style: normal;
    color: black;
  }

  /* font specifications for header elements */
  .container-child h2 {
    font-size: 35px;
    font-family: Karla-Bold;
    margin-top: 15px;
    color: black;
    
  }

  /* for each div with .numberCircle class */
  .numberCircle {
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 29px;
    font-family: Karla-Bold;
    border: 1px solid black;
    margin-top: 15px;
    color: black(255, 255, 255);
    background-color: white;
    /* mix-blend-mode: lighten; */
    
    
  }

  


  .red {
    background-color: red;
  }

  .orange {
    background-color: rgb(255, 204, 0);
  }

  .green {
    background-color: green;
  }
  



  


  