* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  scroll-behavior:smooth;
  
}
.hamburger-box {
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #111;
	margin-top: 0px;
  margin-left: 0px;
  transition: margin-left .5s;
  z-index: inherit;
  
}
.hamburger-box:hover {
  background-color: #444;
  transform: scale(1.05)
}

.hidden {
  opacity: 0;
  display: none;
}


.bar {
  width: 70%;
  height: 11%;
  margin: 6%;
  transition: background-color 0.7s ease, transform 0.5s ease;
  
 }

.bar.a  {
  background-color: red;
}

.bar.b {
  background-color: orange;

}

.bar.c {
  background-color: yellow;
}

.bar.a.rotated-in {
  background-color:white;
  transform-origin: top left;
  transform: translateY(-7px) translateX(6px) rotate(45deg); 
  transition: background-color 0.5s ease, transform 0.5s ease;
}


.bar.c.rotated-out {
  background-color:white;
  transform-origin: bottom left;
  transform: translateY(7px) translateX(7px) rotate(-45deg);
  transition: background-color 0.5s ease, transform 0.5s ease;
}



.white {
  color: white;
  font-size: 150px; 
}


/* The side navigation menu */
.sidebar {
  flex-direction: column;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 234, 0, 1);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  font-family: Karla, sans-serif;
  
}

/* Links on mouse-over */
.sidebar a:hover {
  background-color: rgb(0, 89, 255);
  color: white;
}


/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.content {
  transition: margin-left .5s;
  margin-left: 10px;
  padding: 1px 16px;
  height: 1000px;
}

.Wreck {
  margin-right: 30px;
}

.flex-row {
  display: flex; 
  flex-direction: row;
  justify-content: center;
}


.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex-only {
  display: flex;

}

.background {
  background-image: linear-gradient(60deg,rgb(255, 20, 3), rgb(254, 237, 54));
  
  height:250px;
}
/* The button used to open the sidebar */


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

@font-face {
  font-family: 'SF Sports Night'; /* Choose a name for your custom font */
  src: url('font/sf/SFSportsNight.ttf') format('truetype'); /* Replace 'path/to/your/font-file.ttf' with the actual path to your TTF file */
}

@font-face {
  font-family: 'Karla';
  src: url('font/karla/Karla-Regular.ttf') format('truetype'),
       url('font/karla/Karla-Bold.ttf') format('truetype');
}

.header-text {
  font-family: 'SF Sports Night', sans-serif;
  font-size: 140px; 
  color: black;
  text-shadow: 3px 3px 3px red;
}




.enlarge-letter:hover {
  transition: transform 0.1s ease;
  transform: scale(1.08) translateY(-6px); /* Enlarge each letter on hover */
}



.buttons {
  
  gap: 50px;
  flex: 1;
  
}

.buttons button {
  width: 200px;
  height: 50px;
  background-color: rgb(0, 89, 255);
  color: white;
  font-size: 30px;
  font-family: Karla;

}

.buttons button:hover {
  width: 203px;
  height: 52px;
  background-color:  rgba(255, 234, 0, 1);
  color: black;
  
}



/*.text {
  background-image: linear-gradient(60deg, rgb(255, 0, 0),orange, rgb(255, 238, 84));
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  display: flex;
  font-size: 6rem; 
}*/