<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link rel="stylesheet" href="../css/carousel.css" /> -->
  </head>

  <body>
    <div class="carousel">
      <div class="list">
        <div class="item">
          <img src="static/images/insight.jpg" alt="insight">
          <div class="intro">
            <h1>Insight</h1>
            <p>Some text here</p>
            <button>Read More</button>
          </div>
          <div class="seemore">
            <h1> Info about the insight! </h1>
            <p>The 2001 Honda Insight body was purchased on Oct 26, 2013 from a local Craigslist post for $275. The Insight's all aluminum body, after being stripped, weighs only ~300lbs and that is a major advantage to achieving high lateral acceleration. The engine is an EG33 flat six found in a junkyard out of a 1994 Subaru SVX. We kept the subframe with it as well. The radiator is from an e30 and we picked up a pusher fan from an LS400 in the junkyard. One of our members got a Subaru 5MT transmission from a Pull-a-Part in Kentucky out of a totaled outback for $109. We bought a front subframe from a 2003 Crown Vic taxi in Pull a Part. The subframe is all aluminum with double wishbone and wide track width. To make the front bodywork, we build a plywood box that we lined with plastic, and filled with two part polyurethane marine foam.</p>
            <button>go back</button>
          </div>
        </div>

        <div class="item">
          <img src="static/images/mgmidget.JPG" alt="mgmidget">
          <div class="intro">
            <h1>MG Midget</h1>
            <p>Some text here</p>
            <button>Read More</button>
          </div>
          <div class="seemore">
            <h1> Info about the MG </h1>
            <p>Some text hereLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button>go back</button>
          </div>
        </div>

        <div class="item">
          <img src="static/images/e28.jpg" alt="e28">
          <div class="intro">
            <h1>BMW E28</h1>
            <p>Some text here</p>
            <button>Read more</button>
          </div>
          <div class="seemore">
            <h1> Info about the e28 </h1>
            <p>Our 2018 challenge car is the legendary 80's BMW E28 with the iconic 5.3 liter Chevrolet LS engine and the TH400 automatic transmission. It features a custom front and and rear suspension biased towards the drag challenge, but still build with handling characteristics in mind. The front was adapted to fit an E36 subframe and coilovers requiring custom controll arms to utilize rack and pinion steering as well as provide better geometry for the car. The back contains a solid rear axle with 3 link and coilover suspension
            </p>
            <button>go back</button>
          </div>
        </div>

        <div class="item">
          <img src="static/images/Doris.jpg" alt="Doris">
          <div class="intro">
            <h1>Doris</h1>
            <p>Some text here</p>
            <button>Read More</button>
          </div>
          <div class="seemore">
            <h1> Info about Doris </h1>
            <p>Some text hereLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button>go back</button>
          </div>
        </div>

        <div class="item">
          <img src="static/images/s10.jpg" alt="Chevy" width="3600px" height="2048px">
          <div class="intro">
            <h1>Chevy S10</h1>
            <p>Some text here</p>
            <button>Read More</button>
          </div>
          <div class="seemore">
            <h1> Info about Chevy S10 </h1>
            <p>2021’s Wreck Racing challenge
              vehicle is a 2001 Chevy S10, Xtreme
              package, purchased
              for $275 in South Atlanta with a lot
              of rust, some half completed bondo
              work, and a very rad flame themed
              gauge cluster.
              
            
              The suspension is fully designed and
              fabricated push/pullrod suspension
              setup. The S10 sports custom fiberglass
              bodywork molded off of the original
              front clip of the vehicle. The bed of
              the truck was skinned to be as light
              as possible. The powertrain for the S10 is a J32
              and LSD 6 speed out of a 2007 Acura
              Type S. The engine is rigidly mounted
              in the bed of the truck driving the
              rear wheels, giving the vehicle a true
              mid-engined layout.</p>
            <button>go back</button>
          </div>
        </div>
        
      </div>
      <div class="buttons">
        <button class="left">&lt
          <!-- <h1>&lt</h1> -->
        </button>
        <button class="right">&gt
          <!-- <h1>&gt</h1> -->
        </button>
      </div>
    </div>
    

    <script src="../js/carousel.js"></script>
  </body>
</html>
