<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/carousel.css" />
  </head>

  <body>
    <div class="carousel">
      <div class="list">
        <div class="item">
          <img src="../images/insight.jpg" alt="insight">
          <div class="intro">
            <h1>Insight</h1>
            <p>Some text here</p>
            <button>see moreI</button>
          </div>
          <div class="seemore">
            <h1> Info about the insight! </h1>
            <p>Some text hereLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button>go back</button>
          </div>
        </div>

        <div class="item">
          <img src="../images/mgmidget.JPG" alt="mgmidget">
          <div class="intro">
            <h1>MG Midget</h1>
            <p>Some text here</p>
            <button>see moreM</button>
          </div>
          <div class="seemore">
            <h1> Info about the MG </h1>
            <p>Some text hereLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button>go back</button>
          </div>
        </div>

        <div class="item">
          <img src="../images/e28.jpg" alt="e28">
          <div class="intro">
            <h1>BMW E28</h1>
            <p>Some text here</p>
            <button>see moreE</button>
          </div>
          <div class="seemore">
            <h1> Info about the e28 </h1>
            <p>Some text hereLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button>go back</button>
          </div>
        </div>

        <div class="item">
          <img src="../images/Doris.jpg" alt="Doris">
          <div class="intro">
            <h1>Doris</h1>
            <p>Some text here</p>
            <button>see moreD</button>
          </div>
          <div class="seemore">
            <h1> Info about Doris </h1>
            <p>Some text hereLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button>go back</button>
          </div>
        </div>
      </div>
      <div class="buttons">
        <button class="left"></button>
        <button class="right"></button>
      </div>
    </div>
    

    <script src="../js/carousel.js"></script>
  </body>
</html>
