<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>

<body>  
    <div class="flex-row" id = "home-page">
        <!-- gallery area/box with next/back buttons -->
        <div id = "photo-gallery">
            <!-- need to create an arraylist of these photos and iterate through them -->
            <!-- when pointer points at index, unhide the photo -->
            <!-- image soure must be in reference to index.html doc -->
            <img src="/static/images/2010comp.JPG" alt="2010 comp photo" id ="pic1" class="stacked-image">
            <img src="/static/images/2013comp.JPG" alt="2013 comp photo" id ="pic2" class="stacked-image">
            <img src="/static/images/girlyworkin.jpg" alt="girly workin photo" id ="pic3" class="stacked-image">
            <img src="/static/images/2018comp.JPG" alt="2018 comp photo" id ="pic4" class="stacked-image">
            <div class="left-button arrow-buttons" onclick="swipeLeft()"> &lt; </div>
            <div class="right-button arrow-buttons" onclick="swipeRight()"> > </div>
            
            
        </div>
        <div class="wreck-description">
            

        </div>

    </div>
</body>

