<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>

<body>  
    <div class="container-welcome" id = "home-page">
      <div class="center">
        <!-- <span class="under-text">Welcome to Wreck Racing!</span> -->
        <span id="typed-element"></span>
      </div>
      <div class="container-holder-welcome">
        
        <!-- gallery area/box with next/back buttons -->
        <div class="container-child-welcome">
          <div class = "photo-gallery">
            <!-- need to create an arraylist of these photos and iterate through them -->
            <!-- when pointer points at index, unhide the photo -->
            <!-- image soure must be in reference to index.html doc -->
            <img src="/static/images/2010comp.JPG" alt="2010 comp photo" id ="pic1" class="stacked-image">
            <img src="/static/images/2013comp.JPG" alt="2013 comp photo" id ="pic2" class="stacked-image">
            <img src="/static/images/girlyworkin.jpg" alt="girly workin photo" id ="pic3" class="stacked-image">
            <img src="/static/images/2018comp.JPG" alt="2018 comp photo" id ="pic4" class="stacked-image">
            <div class="left-button arrow-buttons"> &lt; </div>
            <div class="right-button arrow-buttons"> > </div>   
          </div>
        </div>

        
        <div class="container-child-welcome"> 
          <div class="wreck-description">
            <h2 class="our-mission"> Our Mission: </h2>
            <p class="mission-description">Wreck Racing is an all-student racing team that 
              builds cars for the 
              <a href="https://www.grassrootsmotorsports.com/" target="_blank">Grassroots Motorsports $2000 Challenge</a>. 
              With a tight budget, the 
              $2000 Challenge favors those with more ingenuity and skill than 
              money. As many as 100 different teams return each year to battle 
              it out and see who can squeeze the most performance from a penny. 
              Our current Challenge build features a Factory Five 818 with a 
              K-series Honda engine, and a Nissan 300zx body.
            </p> 
          </div>

        </div>

          
      </div>

      <div class="container-holder-welcome">
        <div class="container-child-welcome">
          <div class="history">
            <h2 class="Our History"> Our Mission: </h2>
            <p class="mission-description">Wreck Racing is an all-student racing team that 
              builds cars for the 
              <a href="https://www.grassrootsmotorsports.com/" target="_blank">Grassroots Motorsports $2000 Challenge</a>. 
              With a tight budget, the 
              $2000 Challenge favors those with more ingenuity and skill than 
              money. As many as 100 different teams return each year to battle 
              it out and see who can squeeze the most performance from a penny. 
              Our current Challenge build features a Factory Five 818 with a 
              K-series Honda engine, and a Nissan 300zx body.
            </p>
            
          </div>
        </div>

        <div class="container-child-welcome">
          
          <div class = "photo-gallery">
            <!-- need to create an arraylist of these photos and iterate through them -->
            <!-- when pointer points at index, unhide the photo -->
            <!-- image soure must be in reference to index.html doc -->
            <img src="/static/images/2010comp.JPG" alt="2010 comp photo" id ="pic1" class="stacked-image">
            <img src="/static/images/2013comp.JPG" alt="2013 comp photo" id ="pic2" class="stacked-image">
            <img src="/static/images/girlyworkin.jpg" alt="girly workin photo" id ="pic3" class="stacked-image">
            <img src="/static/images/2018comp.JPG" alt="2018 comp photo" id ="pic4" class="stacked-image">
            <div class="left-button arrow-buttons" > &lt; </div>
            <div class="right-button arrow-buttons"> > </div>   
          
          </div> 
        </div>

        


      </div>
        
        
        
    </div>
    
    <hr class="line-break">
    <div class="center-align">
      <div class="container center-align">
        <h1 class="our-members">Our Members</h1>
        <p class="three-types-of-people">There are typically three types of people who will join Wreck Racing:</p>
        <div class="container-holder">
          <div class="container-child">
            <div class="numberCircle red">1</div>
            <h2>Newbies</h2>
            <p>These are people who know very little about cars, but would like to know more. 
              Whether it be driving, fixing, breaking, tuning, or even general maintenance these 
              people are in the club to learn as much as they can about cars and engineering. Nowhere 
              else at Georgia Tech can you find a club that will provide you with more hands-on 
              experience with real cars. This allows students to finally put their classroom theory 
              into real-life situations.</p>

          </div>
          <div class="container-child">
            <div class="numberCircle orange">2</div>
            <h2>Car enthusiast</h2>
            <p>These people are generally experienced gearheads. They know a lot about cars and 
              can tell you anything about cars ranging from normal maintenance to high-performance 
              modifications. More than likely, these people drive a fast car (or more than one of them!)
               and are pretty good at it! They typically join the club because we can offer them one of 
               the most unique and challenging automotive experiences they will ever have. 

            </p>

          </div>
          <div class="container-child">
            <div class="numberCircle green">3</div>
            <h2>Car freaks</h2>
            <p>The final type of person usually owns at least two cars 
              (neither of which was purchased for more than $500) and has performed at 
              least one engine swap on both of them. These guys are total car freaks. When 
              they are not trying to piece together a Wreck Racing car, you can probably find 
              them in their own garage trying to piece together their own. Wreck Racing offers 
              these people their car fix while stuck at school.</p>

          </div>
        </div>
        <p id="visit-us">So come on out and visit the Wreck Racing shop. No matter previous experience, members 
          are able to work on a car that will provide them with welding, CAD design, no end of tuning, 
          tweaking, cutting, painting, wiring, soldering, taping … well, you get the point. If you love
           cars and have not found your way to our garage, you don’t know what you are missing! 
           New members are always accepted no matter their current skill level or major!</p>
      </div>

    </div>
    
    

    
    <!-- <script>src="../js/bundle.js"</script> -->
    <!-- <script>console.log("ehllo")</script> -->
    
  
</body>

