<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>

<body>  
    <div class="container-welcome" id = "home-page">
      <div class="typed-text">
        <!-- <span class="under-text">Welcome to Wreck Racing!</span> -->
        <span id="typed-element"></span>
      </div>
      <div class="container-holder-welcome">
        
        <!-- gallery area/box with next/back buttons -->
        <div class="container-child-welcome">
          <div class = "photo-gallery">
            <!-- need to create an arraylist of these photos and iterate through them -->
            <!-- when pointer points at index, unhide the photo -->
            <!-- image soure must be in reference to index.html doc -->
            <img src="/static/images/2010comp.JPG" alt="2010 comp photo" id ="pic1" class="stacked-image">
            <img src="/static/images/2013comp.JPG" alt="2013 comp photo" id ="pic2" class="stacked-image">
            <img src="/static/images/girlyworkin.jpg" alt="girly workin photo" id ="pic3" class="stacked-image">
            <img src="/static/images/2018comp.JPG" alt="2018 comp photo" id ="pic4" class="stacked-image">
            <div class="left-button arrow-buttons"> &lt; </div>
            <div class="right-button arrow-buttons"> > </div>   
          </div>
        </div>

        
        <div class="container-child-welcome"> 
          <div class="text-box">
            <h2 class="our-mission"> Our Mission: </h2>
            <p class="mission-description">Wreck Racing is an all-student racing team that 
              builds cars for the 
              <a href="https://www.grassrootsmotorsports.com/" target="_blank">Grassroots Motorsports $2000 Challenge</a>. 
              With a tight budget, the 
              $2000 Challenge favors those with more ingenuity and skill than 
              money. As many as 100 different teams return each year to battle 
              it out and see who can squeeze the most performance from a penny. 
              Our current Challenge build features a Factory Five 818 with a 
              K-series Honda engine, and a Nissan 300zx body.
            </p> 
          </div>

        </div>

          
      </div>

      <div class="container-holder-welcome">
        <div class="pantone-container">
          <div class="pantone">
            <div class="cropped-container">
              <img src="/static/images/Doris.jpg" alt="Doris">
            </div>
            <h1>DORIS</h1>
            <h2>Some text here</h2>
          </div>
  
          <div class="pantone">
            <div class="cropped-container">
              <img src="/static/images/insight.jpg" alt="insight">
            </div>
            <h1>INSIGHT</h1>
            <h2>Some text here</h2>
          </div>
  
          <div class="pantone">
            <div class="cropped-container">
              <img src="/static/images/e28.jpg" alt="bmw e28">
            </div>
            <h1>BMW E28</h1>
            <h2>Some text here</h2>
          </div>
  
          <div class="pantone">
            <div class="cropped-container">
              <img src="/static/images/mgmidget.jpg" alt="mg midget">
            </div>
            <h1>MG MIDGET</h1>
            <h2>Some text here</h2>
          </div>
  
          <div class="pantone">
            <div class="cropped-container">
              <img src="/static/images/insight.jpg" alt="insight">
            </div>
            <h1>INSIGHT</h1>
            <h2>Some text here</h2>
          </div>
  
        </div>

      </div>
      

      <div class="container-holder-welcome">
        <div class="container-child-welcome">
          
          <div class="text-box">
            <h2 class="Our History"> Our History: </h2>
            <p>Established in 2003, Wreck Racing has worked on eight competition cars:</p>
            <ul>
              <li>1984 VW GTI</li>
              <li>1985 BMW 325e</li>
              <li>1992 Mazda Miata</li>
              <li>1969 MG Midget</li>
              <li>2001 Honda Insight</li>
              <li>1986 BMW 528e</li>
              <li>Chevy S10</li>
              <li>Factory FIve 818</li>
            </ul>
            <p>Competition Results:</p>
            <ul>
              <li>In 2017, the Insight placed 1st out of 40 teams </li>
              <li>In 2018, we came in 2nd overall</li>
              <li>In 2020, the BMW placed 1st overall</li>
              <li>In 2022, the S10 place 2nd overall</li>
              <li>In 2023, the 818 came 2nd in Concourse</li>
              
            </ul>
            
            
            

          </div>
        </div>

        <div class="container-child-welcome">
          
          <div class = "photo-gallery">
            <!-- need to create an arraylist of these photos and iterate through them -->
            <!-- when pointer points at index, unhide the photo -->
            <!-- image soure must be in reference to index.html doc -->
            <img src="/static/images/2010comp.JPG" alt="2010 comp photo" id ="pic1" class="stacked-image">
            <img src="/static/images/2013comp.JPG" alt="2013 comp photo" id ="pic2" class="stacked-image">
            <img src="/static/images/girlyworkin.jpg" alt="girly workin photo" id ="pic3" class="stacked-image">
            <img src="/static/images/2018comp.JPG" alt="2018 comp photo" id ="pic4" class="stacked-image">
            <div class="left-button arrow-buttons" > &lt; </div>
            <div class="right-button arrow-buttons"> > </div>   
          
          </div> 
        </div>

        


      </div>
        
        
        
    </div>
    
    <hr class="line-break">
    <div class="center-align">
      <div class="container center-align">
        <h1 class="our-members">Membership Info</h1>
        <p class="three-types-of-people">There are typically three types of people who will join Wreck Racing:</p>
        <div class="container-holder">
          <div class="container-child">
            <div class="numberCircle red">1</div>
            <h2>Newbies</h2>
            <p>These are people who know very little about cars, but would like to know more. 
              Whether it be driving, fixing, breaking, tuning, or even general maintenance these 
              people are in the club to learn as much as they can about cars and engineering. Nowhere 
              else at Georgia Tech can you find a club that will provide you with more hands-on 
              experience with real cars. This allows students to finally put their classroom theory 
              into real-life situations.</p>

          </div>
          <div class="container-child">
            <div class="numberCircle orange">2</div>
            <h2>Car enthusiast</h2>
            <p>These people are generally experienced gearheads. They know a lot about cars and 
              can tell you anything about cars ranging from normal maintenance to high-performance 
              modifications. More than likely, these people drive a fast car (or more than one of them!)
               and are pretty good at it! They typically join the club because we can offer them one of 
               the most unique and challenging automotive experiences they will ever have. 

            </p>

          </div>
          <div class="container-child">
            <div class="numberCircle green">3</div>
            <h2>Car freaks</h2>
            <p>The final type of person usually owns at least two cars 
              (neither of which was purchased for more than $500) and has performed at 
              least one engine swap on both of them. These guys are total car freaks. When 
              they are not trying to piece together a Wreck Racing car, you can probably find 
              them in their own garage trying to piece together their own. Wreck Racing offers 
              these people their car fix while stuck at school.</p>

          </div>
        </div>
        <h1 class="our-members">New Members</h1>
      </div>

    </div>
    
    

    
    <!-- <script>src="../js/bundle.js"</script> -->
    <!-- <script>console.log("ehllo")</script> -->
    
  
</body>

