<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/home2.css" />
  </head>

  <body>
    
    <div class="menu-bar">
        <div class="button">Home</div>
        <div class="button">About</div>
        <div class="button">Join</div>
        <div class="button">Team</div>
        <div class="button">Shop</div>
    </div>

    <div class="wreck-racing-text">
        
        <h1>Wreck Racing</h1>
        <div class="wr-logo">
            <img src="../images/WRRev-Transparent.png" alt="">
        </div>
        <h2>Learn, Design, Build, Race.</h2>
    </div>

    <div class="video-container">
        <video  muted autoplay loop>
            <source src="../videos/correctvid2.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <video  muted autoplay loop>
            <source src="../videos/s10vid.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <video  muted autoplay loop>
            <source src="../videos/vid3.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="about">
        <div class="who">
            <h1>Who?</h1>
        </div>
        <div class="what">
            <h1>What?</h1>
        </div>
        <div class="when">
            <h1>When?</h1>
        </div>
        <div class="where">
            <h1>Where?</h1>
        </div>
        <div class="why">
            <h1>Why?</h1>
        </div>
        <div class="how">
            <h1>How?</h1>
        </div>
    </div>


    <div class="down">
        <a href="#1">
            <span class="bottom"></span>
        </a>      
    </div>

    <div class="scrolling-box-background">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="center-grid">
            <img class='center-grid-image'src="../images/WRLogo.png" alt="">
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    

    <div id="1" class="scrolling-box">
        <div class="grid-box has-img">
            <h1 class="year">2003</h1>
            <h2>Wreck Racing Established</h2>
        </div>
        <div class="grid-box has-img">
            <h1 class="year">2003</h1>
            <h2>Wreck Racing Established</h2>
        </div>
        <div class="grid-box has-img">
            <h1 class="year">2003</h1>
            <h2>Wreck Racing Established</h2>
        </div>
        <div class="grid-box has-img">
            <h1 class="year">2006</h1>
            <h2>Wreck Racing Established</h2>
        </div>
        <div class="grid-box has-img">
            <h1 class="year">2023</h1>
            <h2>Wreck Racing Established</h2>
        </div>
        <div class="grid-box">
            <!-- <h1 class="year">2007</h1>
            <h2>Wreck Racing Established</h2> -->
        </div>
        <div class="grid-box">
            <!-- <h1 class="year">2017</h1>
            <h2>Wreck Racing Established</h2> -->
        </div>
        <div class="grid-box has-img">
            <h1 class="year">2018</h1>
            <h2>Wreck Racing Established</h2>
        </div>
        <div class="grid-box has-img">
            <h1 class="year">2023</h1>
            <h2>Wreck Racing Established</h2>
        </div>
        <div class="grid-box ">
            <!-- <h1 class="year">2023</h1>
            <h2>Wreck Racing Established</h2> -->
        </div>
        <div class="grid-box">
            <!-- <h1 class="year">2023</h1>
            <h2>Wreck Racing Established</h2> -->
        </div>
        <div class="grid-box has-img">
            <h1 class="year">2023</h1>
            <h2>Wreck Racing Established</h2>
        </div>
        <div class="grid-box has-img">
            <h1 class="year">2023</h1>
            <h2>Wreck Racing Established</h2>
        </div>
        <div class="grid-box has-img">
            <h1 class="year">2023</h1>
            <h2>Wreck Racing Established</h2>
        </div>
        <div class="grid-box has-img">
            <h1 class="year">2023</h1>
            <h2>Wreck Racing Established</h2>
        </div>
        <div class="grid-box has-img">
            <h1 class="year">2023</h1>
            <h2>Wreck Racing Established</h2>
        </div>
    </div>
    
    
    
    
    


    <script src="../js/home2.js"></script>
  </body>