<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/popup.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
  </head>

  <body>
    <body>
      <div class="container">
        <div id="slide">
          <div
            class="item"
            style="background-image: url(../images/girlyworkin.jpg)"
          >
            <div class="content">
              <div class="name">CHILD 1</div>
              <div class="des">
                Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu
              </div>
              <button>See more</button>
            </div>
          </div>
          <div
            class="item"
            style="background-image: url(../images/2010comp.JPG)"
          >
            <div class="content">
              <div class="name">CHILD 2</div>
              <div class="des">
                Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu
              </div>
              <button>See more</button>
            </div>
          </div>
          <div
            class="item"
            style="background-image: url(../images/2013comp.JPG)"
          >
            <div class="content">
              <div class="name">LUNDEV</div>
              <div class="des">
                Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu
              </div>
              <button>See more</button>
            </div>
          </div>
          <div
            class="item"
            style="background-image: url(../images/mgmidget.jpg)"
          >
            <div class="content">
              <div class="name">LUNDEV</div>
              <div class="des">
                Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu
              </div>
              <button>See more</button>
            </div>
          </div>
          <div class="item" style="background-image: url(../images/e28.jpg)">
            <div class="content">
              <div class="name">LUNDEV</div>
              <div class="des">
                Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu
              </div>
              <button>See more</button>
            </div>
          </div>
          <div
            class="item"
            style="background-image: url(../images/insight.jpg)"
          >
            <div class="content">
              <div class="name">INSIGHT</div>
              <div class="des">
                Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu
              </div>
              <button>See more</button>
            </div>
          </div>
        </div>
        <div class="buttons">
          <button id="prev"><i class="fas fa-angle-left"></i></button>
          <button id="next"><i class="fas fa-angle-right"></i></button>
        </div>
      </div>

      <script src="../js/popup.js"></script>
    </body>
  </body>
</html>
